#message {
    padding: 0 0 0 22px;
    font-family: tahoma;
    font-size: 12;
}
#popup {
    position: absolute;
    border: 1px solid #999;
    padding: 6px;
    background-color: #DEDDDE;
    top: 0;
    left: 0;
    z-index: 10;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

form {
    margin: 0;
}
iframe {
    border: 0;
}
.click {
    cursor: pointer;
}
.close {
    padding-left: 16px;
    font-size: 10px;
    background: transparent url(images/cross_small.png) 0 -2px no-repeat;
}
.loading {
    background: transparent url(images/loading.gif) 0 2px no-repeat;
    color: #333;
}
.notice {
    background: transparent url(images/tick_circle.png) 0 2px no-repeat;
    color: #327933;
}
.error {
    background: transparent url(images/exclamation.png) 0 2px no-repeat;
    color: #ff0000;
}