<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Your Online Laptop and Notebook store. Buy laptops, notebooks and accessories at the best prices on the internet!" />
<meta name="keywords" content="apple, mac, laptop, laptop computers, buy laptop, laptop pc, laptop accessories, notebook, notebooks, computer, computers, wireless, laptops, laptop computer" />
<title>YourAppleStore.com - Online Laptop and Notebook store. Accessories, hardware, and software for Laptops and Notebooks</title>
<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href="template.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/ext-core/3.0/ext-core.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="../../js/fancyzoom/fancyzoom.min.js"></script>
<script type="text/javascript" src="../../data/config.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
</head>
<body>
<table border="0" align="center" cellpadding="0" cellspacing="10">
  <tr>
    <td width="160" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="coltitle"><span class="title">Our Store</span></td>
          </tr>
          <tr>
            <td class="colcontent">Your Online Laptop and Notebook store. Buy laptops, notebooks and accessories at the best prices on the internet!</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>
          <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px">
            <tr>
              <td style="padding:0px;">
                <div class="adsense adv160x600">

                </div>
                <div class="adsense adv160x600" style="margin-top:8px">

                </div>
              </td>
            </tr>
          </table>
		</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
    <td valign="top"><table width="746" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="400" align="left" valign="top" class="header" style="padding-left:10px">
          <div id="logo"></div>
        </td>
      </tr>
	  <tr>
	    <td height="10"></td>
	  </tr>
      <tr>
        <td height="40" align="center" valign="middle" class="menubar">
          <span class="menu"></span>
          <table border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="images/menu_button.png"/>&nbsp; </td>
              <td style="padding-right:30px"> <span class="menu"><a href="javascript:;" onclick="goto(1)" class="white">SHOP</a></span></td>
              <td><img src="images/menu_button.png"/>&nbsp; </td>
              <td style="padding-right:30px"> <span class="menu"><a href="javascript:;" onclick="goto(2)" class="white">AUCTION</a></span></td>
              <td><img src="images/menu_button.png"/>&nbsp; </td>
              <td style="padding-right:30px"> <span class="menu"><a href="javascript:;" onclick="goto(3)" class="white">NEWS</a></span></td>
              <td><img src="images/menu_button.png"/>&nbsp; </td>
              <td style="padding-right:30px"> <span class="menu"><a href="javascript:;" onclick="goto(4)" class="white">VIDEO</a></span></td>
              <td><img src="images/menu_button.png"/>&nbsp; </td>
              <td> <span class="menu"><a href="javascript:;" onclick="goto(5)" class="white">MY CART</a></span></td>
            </tr>
          </table>
        </td>
      </tr>
	  <tr>
	    <td height="10"></td>
	  </tr>
	  <tr>
	    <td height="10" bgcolor="#00445F" style="border: 1px solid #7EA986">
<script type="text/javascript">
<!--
google_ad_client = adsenseId;
google_ad_width = 728;
google_ad_height = 90;
google_ad_format = "728x90_as";
google_ad_type = "text";
google_ad_channel = "";
google_color_border = "00445F";
google_color_bg = "00445F";
google_color_link = "FFFFFF";
google_color_text = "FFFFFF";
google_color_url = "FFFFFF";
google_ui_features = "rc:0";
//-->
</script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
        </td>
      </tr>
      <tr>
        <td id="content" style="padding-top:10px"><div style="position:relative;">
          <div style="position:absolute; top:0px; right:10px;">
            <div id="loader" class="loading" style="display:none;">loading..</div>
          </div>
          <div id="ebayListing" class="hide content links">
<script type="text/javascript">
<!--
var params = {
    eksize: 1,
    query: e_kerword1,
    num: 12,
    minprice: 100,
    bdrcolor: 'ffffff',
    lnkcolor: '000000',
    tlecolor: 'ffffff',
    tlfcolor: '000000'
};
generate_ebay(params, 'content');
//-->
</script>
          </div>
        </div></td>
      </tr>
    </table></td>
    <td width="160" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="coltitle"><span class="title">More Items</span></td>
      </tr>
      <tr>
        <td>
          <div id="ebay" class="ebay">
<script type="text/javascript">
<!--
var params = {
    query: e_kerword1,
    bdrcolor: '00445F',
	fbgcolor: '00445F',
	hdrcolor: '00445F',
	tbgcolor: '00445F',
	tlecolor: '00445F',
	tlfcolor: '00445F',
	fntcolor: 'FFFFFF',
	lnkcolor: 'FFFFFF'
};
generate_ebay(params);
//-->
</script>
            <div style="height:5px;"></div>
<script type="text/javascript">
<!--
var params = {
    query: e_kerword2,
    bdrcolor: '00445F',
	fbgcolor: '00445F',
	hdrcolor: '00445F',
	tbgcolor: '00445F',
	tlecolor: '00445F',
	tlfcolor: '00445F',
	fntcolor: 'FFFFFF',
	lnkcolor: 'FFFFFF'
};
generate_ebay(params);
//-->
</script>
          </div>
        </td>
      </tr>
    </table></td>
  </tr>
</table>
<div class="copyright">
  <span class="click" onclick="checkAuth()">&copy;</span>
  <script>document.write(getYear()+' '+sitename);</script>. All rights reserved.</div>
</body>
</html>
