<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Great selection of most popular Solar Energy PRODUCTS at Great Prices. BUY <b>solar pool covers, solar panels, solar garden lights, solar fountains</b> ONLINE. Solar energy products make GREAT GIFTS!" />
<meta name="keywords" content="solar, solar energy, solar panels, solar product, buy solar products online, solar energy gifts" />
<title>The Best Solar Equipment</title>
<link href="../../style.css" rel="stylesheet" type="text/css" />
<link href="template.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/ext-core/3.0/ext-core.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="../../js/fancyzoom/fancyzoom.min.js"></script>
<script type="text/javascript" src="../../data/config.js"></script>
<script type="text/javascript" src="../../js/common-src.js"></script>
</head>
<body>
<table border="0" align="center" cellpadding="0" cellspacing="10">
  <tr>
    <td width="160" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="coltitle"><span class="title">Our Store</span></td>
          </tr>
          <tr>
            <td class="colcontent">Find thousands of products that utilize alternative and renewable solar energy sources.</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>
          <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px">
            <tr>
              <td style="padding:0px;">
                <div id="adsenseWrap" style="width:160px; height:600px; overflow:hidden;">
<div class="adsense" style="width:160px; height:600px; overflow:hidden;"><iframe src="../../adsense.php" frameborder="0" allowtransparency="true"></iframe></div>
                </div>
                <div class="adsense" style="margin-top:5px;">
<script type="text/javascript">
<!--
google_ad_client = adsenseId;
google_ad_width = 160;
google_ad_height = 600;
google_ad_format = "160x600_as";
google_ad_type = "text";
google_ad_channel = adChannel;
google_color_border = "E15100";
google_color_bg = "E15100";
google_color_link = "000000";
google_color_text = "000000";
google_color_url = "000000";
google_ui_features = "rc:0";
//-->
</script>
<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
                </div>
              </td>
            </tr>
          </table>
		</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
    <td valign="top"><table width="746" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td valign="top" class="header">
          <div id="logo"></div>
          <div style="width:360px; height:280px; margin:0; overflow:hidden;">
<script type="text/javascript">
<!--
google_ad_client = adsenseId;
google_ad_width = 300;
google_ad_height = 250;
google_ad_format = "300x250_as";
google_ad_type = "image";
google_ad_channel = adChannel;
google_color_border = "E15100";
google_color_bg = "E15100";
google_color_link = "000000";
google_color_text = "000000";
google_color_url = "000000";
google_ui_features = "rc:0";
//-->
</script>
<script type='text/javascript'>
<!--
var amzn_wdgt={widget:'Search'};
amzn_wdgt.tag=amazonAId;
amzn_wdgt.columns='3';
amzn_wdgt.rows='2';
amzn_wdgt.defaultSearchTerm=e_kerword2;
amzn_wdgt.searchIndex=searchIdx;
amzn_wdgt.width='380';
amzn_wdgt.showImage='True';
amzn_wdgt.showPrice='True';
amzn_wdgt.showRating='True';
amzn_wdgt.design='1';
amzn_wdgt.colorTheme='RedGrey';
amzn_wdgt.headerTextColor='#FFFFFF';
amzn_wdgt.outerBackgroundColor='#E25100';
amzn_wdgt.marketPlace='US';
//-->
</script>
<script type='text/javascript' src='http://wms.assoc-amazon.com/20070822/US/js/AmazonWidgets.js'></script>
          </div>
		</td>
      </tr>
	  <tr>
	    <td height="10"></td>
	  </tr>
      <tr>
        <td align="center" class="menubar"><span class="menu">
          <a href="javascript:;" onclick="goto(1)">SHOP</a>  &nbsp; | &nbsp;
          <a href="javascript:;" onclick="goto(2)">AUCTION</a>  &nbsp; | &nbsp;
          <a href="javascript:;" onclick="goto(3)">NEWS</a>  &nbsp; | &nbsp;
          <a href="javascript:;" onclick="goto(4)">VIDEO</a>  &nbsp; | &nbsp;
          <a href="javascript:;" onclick="goto(5)">MY CART</a></span>
        </td>
      </tr>
      <tr>
        <td id="content" style="padding-top:10px;"><div style="position:relative;">
          <div style="position:absolute; top:0px; right:10px;">
            <div id="loader" class="loading" style="display:none;">loading..</div>
          </div>
          <div id="listing" class="shop">
<div id="itemsTitleTpl" class="hide">
  <div class="itemsTitle">{title}</div>
</div>
<div id="itemsNavigationTpl" class="hide">
  <div class="recordset left">Showing <b><span class="showing">{recordset}</span></b> of <b>{total}</b> results</div>
  <div class="paging right">{pagination}</div>
  <div class="clear" style="height:5px;"></div>
</div>
<div id="itemsListingTpl" class="hide">
  <div class="itemDesc left">
    <div class="itemTitle" title="{title}" onclick="viewDetail('{asin}')">{stitle}</div>
    <div class="itemSummary">{summary}</div>
  </div>
  <div class="itemImage right" style="background-image:url({thumbnail})" onclick="viewDetail('{asin}')"></div>
  <div class="clear" style="height:2px;"></div>
  <div class="but_detail left" onclick="viewDetail('{asin}')">{details}</div>
  <div class="but_addcart left" onclick="addtocart('{asin}','{offerId}')">{addCart}</div>
  <div class="itemPrice right">{price}</div>
</div>
          </div>
          <div id="details" class="abs shop" style="visibility:hidden;">
            <div class="goback" onclick="switchRight()">Back</div>
<div id="detailsTpl" class="hide clear">
  <div class="mainTitle">Product Details</div>
  <div class="body" style="padding:14px 24px;">
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <div class="image" style="background-image:url({img});"></div>
          <div class="imagesets">{imageSets}</div>
        </td>
        <td>
          <div>
            <h2>{title}<div class="by">{by}</div></h2>
          </div>
          <table border="0" cellpadding="2" cellspacing="0" style="margin:10px 0;">
            <tr class="detailListPrice">
              <td valign="top" class="label"><span>List Price: </span></td>
              <td valign="top"><span class="amount listprice">{listprice}</span></td>
            </tr>
            <tr class="detailOfferPrice">
              <td valign="top" class="label"><span>Price: </span></td>
              <td valign="top">
                <span class="amount">{offerprice}</span>
                <span class="saver">{saver}</span>
              </td>
            </tr>
          </table>

          <input type="image" height="27" width="159" border="0" id="buybutton" name="pngImage" onclick="addtocart('{asin}', '{offerId}')"
           src="http://g-ecx.images-amazon.com/images/G/01/associates/storebuilder/add-to-cart-yellow._V46788356_.png" alt="Add to cart" />

          <div class="availability"><b>Availability: </b><span>{availability}</span></div>
          <div class="avgReviewStars" style="background-image:url(http://images.amazon.com/images/G/01/associates/network/star{avgRating}_tpng.png);">
            Average customer review:
          </div>
        </td>
      </tr>
    </table>
    <div class="productDescription">
      <h2>Product Description</h2>
      <p>{description}</p>
    </div>
    <div class="productDetails">
      <hr />
      <h2>Product Details</h2>
      <ul>{details}</ul>
      <h3>Features</h3>
      <ul>{features}</ul>
    </div>

    <div class="customerReviews">
      <hr />
      <h2>Customer Reviews</h2>
      <div id="customerReviews"><div class="customerReview">
        <div class="reviewStars" style="background-image:url(http://images.amazon.com/images/G/01/associates/network/star{reviewRank}_tpng.png);">
          <span class="reviewtitle">{reviewSummary}</span>
        </div>
        <div class="clear">{review}</div>
      </div></div>{customerReviews}
    </div>
  </div>
</div>
          </div>
        </div></td>
      </tr>
    </table></td>
    <td width="160" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="coltitle"><span class="title">More Items</span></td>
      </tr>
      <tr>
        <td>
          <div id="ebay" class="ebay">
<script type="text/javascript">
<!--
var params = {
    ai: eBayAId,
    query: e_kerword1,
    lnkcolor: '000000'
};
generate_ebay(params);
//-->
</script>
            <div style="height:5px;"></div>
<script type="text/javascript">
<!--
var params = {
    ai: eBayAId,
    query: e_kerword2,
    lnkcolor: '000000'
};
generate_ebay(params);
//-->
</script>
          </div>
        </td>
      </tr>
    </table></td>
  </tr>
</table>
<div class="copyright">
  <span class="click" onclick="checkAuth()">&copy;</span>
  <script>document.write(getYear()+' '+sitename);</script>. All rights reserved.
</div>
          <div id="shoppingcart" class="fixed" style="visibility:hidden;">
            <div style="width:742px;">
              <div class="closecart" onclick="closeCart();">Close</div>
              <div class="mainTitle">Shopping Cart</div>
              <div class="body" style="padding:0 24px 14px 24px; background-color:#fff;">
                <div id="cartLoading" style="padding-top:6px; visibility:hidden;">
                  <div class="cartLoading" style="background:url(../../images/loading.gif) no-repeat; width:60px; padding-left:20px; margin:0 auto;">updating..</div>
                </div>
                <div style="font-size:9pt; font-weight:500; line-height:12pt; margin:12px 0;">
                 When you are ready to check out, please click the "Proceed to Checkout" button at the bottom of this page.
                 You will be taken to the Amazon.com cart page to securely complete your transaction.
                </div>
                <table border="0" cellpadding="0" cellspacing="1" class="cartTable">
                  <thead>
                    <tr>
                      <td class="cartColumn">&nbsp;</td>
                      <td class="cartColumn">Item</td>
                      <td class="cartColumn">Quantity</td>
                      <td class="cartColumn" align="right">Price</td>
                    </tr>
                  </thead>
                  <tbody id="cartItems">
                    <tr id="{itemId}">
                      <td align="center" class="item">
                        <img height="17" width="47" alt="Delete" class="click" onclick="updateItem('{itemId}')"
                         src="http://g-ecx.images-amazon.com/images/G/01/associates/storebuilder/delete-sm-sec._V46786939_.png" />
                      </td>
                      <td class="item"><div onclick="viewDetail('{asin}')">{title}</div></td>
                      <td align="right" class="item">{qty}</td>
                      <td align="right" class="item"><span class="total">{total}</span></td>
                    </tr>
                  </tbody>
                </table>
                <div class="subtotal">Subtotal: <span id="subtotal">0.00</span></div>
                <div class="cartAction makeChange">
                  Make any changes above?
                  <input type="image" height="17" width="94" align="absmiddle" value="Go" alt="Update subtotal" onclick="updateItem()"
                   src="http://g-ecx.images-amazon.com/images/G/01/associates/storebuilder/update-subtotal-sm-sec._V46788243_.png" />
                </div>
                <div class="cartbuttons">
                  <div class="left">
                    <img height="22" width="119" alt="Continue shopping" class="click" onclick="closeCart()"
                     src="http://g-ecx.images-amazon.com/images/G/01/associates/storebuilder/continue-shopping-md-sec._V46787018_.png" />
                  </div>
                  <div class="cartAction right">
                    <form action="" id="checkoutform" name="checkoutform" method="post">
                      <input type="image" id="proceedToCheckoutBtn" name="pngImage" height="27" width="153" alt="Proceed to checkout"
                        src="http://g-ecx.images-amazon.com/images/G/01/associates/storebuilder/proceed-to-checkout-yellow._V46787518_.png" />
                    </form>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
          </div>
</body>
</html>